{
  "presets": ["@babel/preset-env"]
  // "comments": false,
  // "env": {
  //   "test": {
  //     "presets": [
  //       "@babel/preset-env"
  //     ]
  //   },
  //   "main": {
  //     "presets": [
  //       "@babel/preset-env"
  //     ]
  //   },
  //   "renderer": {
  //     "presets": [
  //       "@babel/preset-env"
  //     ]
  //   },
  //   "web": {
  //     "presets": [
  //       "@babel/preset-env"
  //     ]
  //   }
  // },
  // "plugins": ["@babel/transform-runtime"]
}