.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
labManager.sqlite
dotnet/dataMigration/.vs/
dotnet/dataMigration/packages/
dotnet/dataMigration/dataMigration/bin/
dotnet/dataMigration/dataMigration/obj/
dotnet/dataMigration/.vs/dataMigration/v15/
labManager.sqlite
electron-builder.yml
containers/elasticsearch/data/
