@page {
  size: auto;
  margin: 10mm 10mm 10mm 10mm;
}

footer {
  font-size: 11px;
}

@media print {

  [class*="col-sm-"] {
    float: left;
  }

  [class*="col-xs-"] {
    float: left;
  }

  .col-sm-12, .col-xs-12 {
    width:100% !important;
  }

  .col-sm-11, .col-xs-11 {
    width:91.66666667% !important;
  }

  .col-sm-10, .col-xs-10 {
    width:83.33333333% !important;
  }

  .col-sm-9, .col-xs-9 {
    width:75% !important;
  }

  .col-sm-8, .col-xs-8 {
    width:66.66666667% !important;
  }

  .col-sm-7, .col-xs-7 {
    width:58.33333333% !important;
  }

  .col-sm-6, .col-xs-6 {
    width:50% !important;
  }

  .col-sm-5, .col-xs-5 {
    width:41.66666667% !important;
  }

  .col-sm-4, .col-xs-4 {
    width:33.33333333% !important;
  }

  .col-sm-3, .col-xs-3 {
    width:25% !important;
  }

  .col-sm-2, .col-xs-2 {
    width:16.66666667% !important;
  }

  .col-sm-1, .col-xs-1 {
    width:8.33333333% !important;
  }

  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12 {
  float: left !important;
  }

  body {
    margin: 0;
    padding: 0 !important;
    min-width: 768px;
  }

  .container {
    width: auto;
    min-width: 750px;
  }

  body {
    font-size: 10px;
  }

  a[href]:after {
    content: none;
  }

  .noprint,
  div.alert,
  header,
  .group-media,
  .btn,
  .footer,
  form,
  #comments,
  .nav,
  ul.links.list-inline,
  ul.action-links {
    display:none !important;
  }

  table { page-break-after:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  td    { page-break-inside:avoid; page-break-after:auto }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }


  table.table-bordered,
  table.table-bordered th {
    border: 0px!important;
  }
  table.table-bordered td {
    border: 1px solid black!important;
  }

  .pagebreak {
    page-break-before: always;
  }

  .dontBreakHere {
    page-break-before: avoid;
    page-break-after: avoid;
  }

  footer {
    position: fixed;
    bottom: 0;
  }
}

.printed {
  font-size: 15px;
}

.printed-1 {
  font-size: 18px;
}

.clientBox {
  border: 1px solid #C9C9C9;
  padding: 4px 4px 4px 4px;
  background-color: #EFEFEF;
  -webkit-print-color-adjust: exact;
}

table.table-invoice {
  border-bottom: 1px solid #C9C9C9;
}
table.table-invoice th {
  border: 0px;
}
table.table-invoice tbody tr:not(.leapTr){
  border-top: 1px solid #C9C9C9;
}
table.table-invoice tbody tr:not(.leapTr) td{
  padding-bottom: 0.1rem;
}

table.table-invoice tbody tr.leapTr td{
  padding: 0.1rem 0rem 0.1rem 2.5rem;
  border-top: 0px;
  border-bottom: 0px;
}
table.table-invoice td {
  border: 0px;
}

